body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#profile_img { 
    height: 300px;
    width: 300px;
    object-fit: cover;
    float:left;
    margin:1em;
}

form input {
    margin:1em 0;
}

textarea {
    width:400px;
    height:200px;
}

 .tag {
    background-color: teal;
    text-decoration: none;
    color:white;
    border-radius: 5px;
    padding:3px;
    margin:5px;
}